#admission-discharge-info {
    .min-w-btn-150 {
        min-width: 150px;
    }

    .bg-yellow {
        background-color: #fff3cd !important;
    }

    .bg-white {
        background-color: white;
    }

    .td-w-100 {
        width: 110px;
    }

    .td-w-10 {
        width: 10%;
    }

    .text-algin-left {
        text-align: left !important;
    }

    @media only screen and (min-width: 960px) {
        .mt-3-div {
            margin-top: 0;
        }
    }

    .input-w-150 {
        width: 150px;
    }

    textarea {
        max-width: 100%;
    }

    input {
        max-width: 100%;
    }

    .ms-10 {
        margin-left: 10px;
    }

    .w-68 {
        max-width: 100%;
    }

    @media only screen and (min-width: 960px) {
        .w-68 {
            width: 68%;
        }
    }
}

.w-50-table {
    width: 50% !important;
}

@media only screen and (max-width: 576px) {

    .w-50-table {
        width: 100% !important;
    }

    .input-80 {
        width: 100% !important;
    }

}


@media only screen and (min-width: 576px) and (max-width: 960px) {
    .w-50-table {
        width: 80% !important;
    }

    .input-80 {
        width: 88% !important;
    }
}
