
.input-desktop {
  width: 300px !important ;
}
.input-desktop-a{
  width: 300px !important;
  margin-left: 50px;
}
.button{
  min-width: 150px;

  cursor: pointer;
}

@media (max-width: 768px) {
  .input-desktop-a{
    width: 100% !important;
    margin-left: 0px;
  }
  .input-desktop {
    width: 100% !important;
  }
  .button{
    width: 100% !important;

  }
}




